<div class="form-card">
  <%= simple_form_for [@todo, @subtodo] do |f| %>
    <%= f.error_notification %>
    <% if f.object.errors[:base].present? %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence %>
    <% end %>

    <div>
      <%= f.input :title, label: 'Título',label_html: {class: "form-card__label"}, input_html: { class: "form-in__inpsel" } %>
    </div>

    <div class="todo-btns pt-3">
      <%= f.submit "Save", name: "confirm", class: "todo-btns__btn shadow-sm" %>
      <%= f.submit "Save and create subtodo ", name: "confirm_and_new", class: "todo-btns__btn shadow-sm" %>
      <% if action_name != 'edit' %>
        <%= f.submit "Finish and create later", name: "finish", class: "todo-btns__btn shadow-sm" %>
      <% elsif action_name == 'edit' %>
        <%= link_to "Back", request.referer, class: "todo-btns__btn shadow-sm" %>
      <% end %>
    </div>
  <% end %>
</div>
