<% if current_user %>
  <header>
      <span class="line-test"></span>
    <div class="d-flex align-items-center justify-content-between">
      <h4>SUMMARY</h4>
      <div class="d-flex align-items-center">
        <p class="header-count-todo"><%= @todos.count %> TO-DOS</p>
        <p class="header-count-todo"><%= @todos_completed %> DONE</p>
      </div>
    </div>
    <span class="line-test"></span>
  </header>

  <%= render 'shared/sort_by' %>

  <main>
    <% if @todos && !@todos.empty? %>
      <% @todos.each do |todo| %>
          <div class="card-todo">
            <div class="todo-header">
              <p><%= todo.subtodos.count %> subtasks</p>
              <div class="todo-header-icons">
                <%# LINK TO DELETE TODO %>
                <%= link_to todo_path(todo), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" } do %>
                  <i class="fa-solid fa-circle-xmark ms-2" style="color: #fd0808;"></i>
                <% end %>
                <%# LINK TO SEE TODO %>
                <%= link_to todo_path(todo) do %>
                  <i class="fa-regular fa-eye ms-2"></i>
                <% end %>
              </div>
            </div>
            <div class="todo-main">
              <div class="d-flex align-items-center">
                <%= link_to todo_path(todo, complete: true), data: { turbo_method: :patch, turbo_confirm: "Completar todo?"} do %>
                  <i class="fa-solid fa-square"></i>
                <% end %>
                <p><%= todo.title %></p>
                <%# IMPORTANCE LEVEL %>
                <% if todo.importance == "High" %>
                  <i class="fa-solid fa-circle" style="color: #ff0000;"></i>
                <% elsif todo.importance == "Medium" %>
                  <i class="fa-solid fa-circle" style="color: #cf8d30;"></i>
                <% elsif todo.importance == "Low" %>
                  <i class="fa-solid fa-circle" style="color: #50ce69;"></i>
                <% end %>
              </div>
              <p><%= todo.date_created %></p>
            </div>
          </div>
      <% end %>
      <%# POST PAGINATION %>
      <div class="pagination-container d-flex justify-content-end mt-5 mb-2">
        <%= paginate @todos, window: 2 %>
      </div>
    <% elsif @todos.nil? || @todos.empty? %>
      <p>WELL, TIME TO CREATE A TO-DO, RIGHT? <i class="fa-regular fa-face-grin-tongue-wink"></i></p>
    <% end %>
  </main>

  <footer>
    <%= render 'shared/new_todo' %>
  </footer>
<% end %>
