<% if current_user %>
  <header>
    <span class="line-sep"></span>
    <div id="content">
      <h4>SUMMARY</h4>
      <div class="d-flex align-items-center">
        <p class="header-count-todo"><%= @todos_uncompleted %> TO-DOS</p>
        <p class="header-count-todo"><%= @todos_completed %> DONE</p>
      </div>
    </div>
    <span span class="line-sep"></span>
  </header>

  <div class="card-track-header">
    <%= render 'shared/sort_by' %>
    <%# POST PAGINATION %>
    <div class="pagination-container">
      <%= paginate @todos, theme: 'default' %>
    </div>
  </div>

  <main>
    <% if @todos && !@todos.empty? %>
      <% @todos.each do |todo| %>
          <div class="card-todo">
            <div class="todo-header">
              <p><%= todo.subtodos.count %> subtasks</p>
              <div class="todo-header-icons">
                <%# LINK TO DELETE TODO %>
                <%= link_to todo_path(todo), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" } do %>
                  <i class="fa-solid fa-circle-xmark ms-2" style="color: #fd0808;"></i>
                <% end %>
                <%# LINK TO SEE TODO %>
                <%= link_to todo_path(todo) do %>
                  <i class="fa-regular fa-eye ms-2"></i>
                <% end %>
              </div>
            </div>
            <div class="todo-main">
              <div class="d-flex align-items-center">
                <%= link_to todo_path(todo, complete: true), data: { turbo_method: :patch, turbo_confirm: "Completar todo?"} do %>
                  <i class="fa-solid fa-square"></i>
                <% end %>
                <p><%= todo.title_short %></p>
                <%# IMPORTANCE LEVEL %>
                <p><%= todo.importance_icon %></p>
              </div>
              <p><%= todo.date_created %></p>
            </div>
          </div>
      <% end %>
    <% elsif @todos.nil? || @todos.empty? %>
      <p>WELL, TIME TO CREATE A TO-DO, RIGHT? <i class="fa-regular fa-face-grin-tongue-wink"></i></p>
    <% end %>
  </main>

  <footer>
    <%= render 'shared/new_todo' %>
  </footer>
<% else %>
  <div class="out-div">
    <div class="content">
      <div id="logo-test" class="main d-flex justify-content-center align-items-center">
        <%= image_tag('text-front-page.png', size: "160x120") %>
      </div>
      <div class="aside">
        <%= render "devise/sessions/new", resource: @resource, resource_name: @resource_name, devise_mapping: @devise_mapping %>
      </div>
    </div>
  </div>
<% end %>
